html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "short stack";
  font-size: 22px;
  text-align: center;
  background: url("../../images/my-to-do-list-background.jpg")
    no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 7vh;
  flex: 1 100%;
  color: #d42e00;
}

#textBox {
  padding: 10px 30px 10px 10px;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: inline-block;
  margin: 5px 20px;
  font-size: 18px;
}

#postit {
  position: relative;
  width: 100%;
  height: 100%;
}

#pushpin {
  top: 40px;
  width: 75px;
  height: 75px;
  position: relative;
  z-index: 3;
}

input:focus {
  outline: none;
}

ul {
  padding: 20px;
  top: -50px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  background: #ffff99;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

li:first-child {
  margin-top: 80px;
}

li {
  list-style: none;
  margin-bottom: 30px;
  text-align: left;
  width: 350px;
}

.trash {
  position: absolute;
  right: 20px;
  text-align: center;
  cursor: pointer;
  width: 40px;
  height: 29px;
  vertical-align: middle;
  margin-top: 4px;
}

.done {
  position: absolute;
  text-align: center;
  cursor: pointer;
  right: 60px;
  transform: scale(2);
  margin: 13px;

}
.done:focus {
  outline: none;
}

.cross-out {
  text-decoration: line-through;
}

#add {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: #d42e00;
  border-color: #d42e00;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

#save {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: #3f51b5;
  border-color: #3f51b5;
  color: #fff;
  padding: 12px 18px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:focus {
  outline: none;
}
