html {
	height: 100%;

}

body {
	font-family: 'Quicksand', sans-serif;
	color: white;
	background: linear-gradient(153.39deg, #8972DD 31.61%, #293CAE 131.68%);
	/*transform: rotate(-90deg);*/
	/*background: url(./images/galaxy.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	max-height: 100%;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0;
}

h3 {
	margin-top: 40px;
}

p {
	margin-bottom: 20px;
	margin-left: 40px;
}

.black-opaque {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 1.4em;
	padding: 8px;
	border-radius: 4px;
	padding-bottom: 100px;
}

.container {
	margin-top: 40px;
}

.yellow {
	color: #FFFFBF;
}

#header {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #444;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#back {
	font-size: 0.8em;
}