body {
    background-color: #323133;
    color: #fff;
    text-align: center;
    font-family: 'Dosis', sans-serif; background-image:url('http://imgh.us/bg_12.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    min-height: 600px;
  }
  
  .click-button {
    position: relative;
    top: 100px;
    border: none;
    color: #fff;
    width: 200px;
    height: 200px;
    transition: 0.3s;
    border-radius: 50%;
    background-color: #f2ca27;
  }
  /* button:active {
    width: 190px;
    height: 190px;
  }
  button:focus {
    outline: none;
  } */
  /* #status {
    background: transparent;
    position: relative;
    top: 60px;
  }
  #status h2 {
    font-size: 60px;
    text-transform: uppercase;
  }
  #timer {
    text-align: center;
    margin-top: 140px;
  }
  
  #app {
    margin: 0 auto;
  }
  #app h1 {
    color: #fff;
    margin-top: 140px;
    font-weight: 300;
  }
  .over {
    background-color: transparent;
    display: none;
  } */