html {
	height: 100%;
}

body {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color: white;
	background: url(./images/2018background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-size: 3.5em;
	color: white;
	padding-top: 20px;
	margin-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
}

.container, .section-holder, .holder {
	width: 100%;
 	display: flex;
	flex-flow: row wrap;
	align-content: center; 
  justify-content: center;
	margin: 0 !important;
}

.section-holder {
	justify-content: space-around;
	min-height: 350px;
	padding: 25px 10%;
}

img {
	flex: 1 1 auto;
}

.large-img {
	max-height: 28vh;
}

.img-responsive {
	border-radius: 10px;
	margin: 5px 5px;
}

.black-opaque {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-weight: lighter;
	line-height: 1.4em;
	padding: 8px;
	border-radius: 4px;
}

.info-modal{
		background-color: #78B8FB;
		color: white;
		border-radius: 10px;
		margin: 5px; 
}

.bottom-holder {
	width: 100%;
	display: flex;
	justify-content: center;
}

.info-para {
	margin: 5px 0px 0px 0px;
	font-weight: bold;
}

.green {
	color: #A3FFA3;
}

.yellow {
	color: #FFFF7F;
}

.red {
	color: #FF6666;
}

.infobox {
	width: 38vh;
	margin: 0px auto;
	padding: auto;
	display: none;
	font-size: 13px;
}

.gong {
	
}

#learn-col {
	width: 100%;
	display: flex;
	justify-content: center;
}

 #about, #start, #challenge {
	width: 170px;
	height: 45px;
	margin-bottom: 10px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

#start:hover {
	cursor: pointer;
}

#start-box {
	align-items: center;
	justify-content: center;
	max-width: 700px;
	display: none;
}

#start-box a {
	text-decoration: underline;
}

#tcs-text {
	width: 300px;
	height: 25px;
	line-height: 0.6em;
}

h4 {
	font-size: 18px;
}

#scratch-box, #web-box, #woof-box {
	position: absolute;
}

#activities h1,h2 {
	font-family: 'futura-pt-bold',sans-serif;
}





.main {
  display: grid;
  grid-gap: 50px;
  margin: 40px auto;
  justify-content: center;
}
.main h2 {
	font-size: 28px;
}
.main > a {
	display: block;
	background-color: rgb(169, 145, 255);
	color: #fff ;
	max-width: 300px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	border-radius: 10px;
	font-size: 24px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	margin: 0 auto;
	
}

@media screen and (min-width: 600px) {
	.main {
		grid-template-columns: repeat(3, 1fr);

	}
}