  @import url('https://use.typekit.net/eia0pww.css');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

  $darkgreen: #274548;
  $lightGreen:#9FE2DD;
  $darkergreen: rgb(18, 33, 34);
  $lightblue: #9FE2DD;
  $beige: #FBF6EE;
  $orange: #EDC034;
  $darkerOrange: #d8a200;
  $fontSize: 18px;
  $headerFont: 'futura-pt-bold',sans-serif;
  $bodyFont: 'Montserrat';
  $breakpoint-tablet: 768px;
  $breakpoint-phone: 600px;
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  html,body,#root {
      height: 100%;
  }

  body {
    background-color: $darkgreen;
    color: $darkgreen;
    font-size: $fontSize;
    font-family: $bodyFont;
    margin: 0;
    padding: 0;
  }

  h1,h2,h3,h4,h5,h6 {
      font-family: $headerFont;
      padding: 0;
      margin: 0;
  }

  h1 {
      font-size: 6rem;
      color: #fff;
      text-shadow: rgb(53, 173, 185) 2px 1px 0px;  
      text-align: center;
    
  }

  #landing h1 {
    margin-top: -5rem;
    margin-bottom: 0.5rem;
  }

  h2 {
      font-size: 1.2rem;
  } 

  a {
      text-decoration: none;
      outline: none;
      color: $darkgreen;
  } 

  button {
      font-size: $fontSize;
      font-family: $bodyFont;
  }

  .center {
    text-align: center;
  }

  #page-container {
      display: grid;
      height: 100%;
      grid-template-rows: 70px 1fr;
      position: relative;
  }

  #header {
    background-color: #fff;
      width: 100%;
      border-bottom: 5px solid $lightGreen;

      .nav {
        display: grid;
        line-height: 70px;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: 1fr 1fr;      
        width:100%;
        height: 70px;
        .signIn {
          grid-row: 1;
          grid-column: 9/10;
          width: 100%;
          background-color: $orange;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          color: #fff;
          align-content: center;
          text-align: center;
          border-radius: 8px;
          transition: background-color 2s;
          height: 50px;
          margin-top: 10px;
          &:hover {
            background-color: $darkerOrange;
          }
        }
        a {
          &:not(.logo) {
            text-align:right;
          }
          &.logo {
            grid-column: 2 / 5; 
            img {
              width: 50px;
              height: 50px;
              vertical-align:middle;
            }
          }
        }
        .hideMenu {
          display:none;
        }   
        .showMenu {
          display: flex;
          text-align: left;
          flex-flow: column wrap;
          line-height: 1rem;
          background-color: $lightblue;
          grid-column: 8/10;
          grid-row: 2;
          z-index: 99;
          button {
            border-radius: 0;
            padding: 5px 20px;
            width: 100%;
            background-color: $darkerOrange;
          }
          a {
            padding: 5px;
            text-align:left;
          }
          a:hover {
            background-color: $orange;
          }
        }
        .dropdown {
          cursor: pointer;
          text-align: right;
          grid-column: 8 / 10; 
          height: 70px;
          z-index: 99;
          #menu {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            img {
              width: 40px;
              height: 40px;
              object-fit: contain;
              margin-right: 10px;
              margin-top: 15px;
            }
          }
    
        }
      }
  }

  button, .button {  
    color: $beige !important;
    border-radius: 4px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column wrap;
    margin: 0 auto;
    border: 0;
    outline: 0;
    width: 100px;
    padding: 10px;
    grid-column: 10;
    background-color: $orange;
    cursor: pointer;
    transition: background-color 2s;
    a {
      color: #fff;
    }
    &:hover {
      background-color: $darkerOrange;
    }
    // &:active {
    //  background-color: $darkerOrange;
    // }
  }

  button {
    background-color: $orange;

  }

  .main {
      a {
        font-weight: bold;
        color: $orange;
      }
      form {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      margin: 0 auto;
      input, button {
        display: block;
        margin: 10px auto;
        padding: 10px 0;
        font-family: $bodyFont;
        width: 250px;
        border: 0;
        outline: 0;
      }
      input {
        padding-left: 10px;
      }
      input[type=checkbox] {
        display: inline-block;
        width: auto;
        margin: 20px 10px;
      }
      label {
        color: $orange;
        display: inline-block;
    }  
      button {
        width: 260px;
      }
      p {
        color: $lightblue;
      }
    }
   
  }

  #landing, #signup, #signIn {
    background:url('/images/bg.png') no-repeat;
    background-size: cover;
    background-position: 10% 50%;
    
    #rocket {
      top: 50px;
    }
    .main {
      grid-column: span 12;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      justify-content: center;
      color: #fff;
      height: 100%;
    } 
  }

  #signin {
    .roles {
      display:flex;
      flex-flow: row wrap;
    }
  }

  #classes, #launchpad {
    img {
      width: 100%;
    }
  }

  .launch {
    background-color: $orange;
    color: #fff;
  }
 
  #profile, #clazz, #untutorial, #new-project {
    .approve {
      text-align: center;
      margin-top: 20px;
      div {
        color: $orange;
        position: relative; 
        display: inline;
        padding-right: 20px;
      }
    }
  .main {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  background-color: #fff;
  color: $darkgreen;
  .sidebar {
    color: #fff;
    background-color:$beige;
    padding: 60px 0;
    background-color: $darkgreen;
    word-wrap: break-word;
    > div {
      padding: 5px 60px;
    }
    button {
      padding: 0 6px;
      width: auto;
      margin: 4px auto;
    }
    h1 {
      font-size: 1.4rem;
      color: $darkgreen;
      text-shadow: none;
    }
    p {
      margin: 0;
      padding: 0;
    }
    span {
      font-size: 0.8rem;
    }
    h4 {
      background-color: $lightGreen;
      color: $darkgreen;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      margin-top: 20px;
      padding: 10px 40px;
      text-align: center;
    }
    .field {
      position: relative;
      font-size: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      color: $darkgreen;
      background-color: #fff;
      padding-bottom: 1px;
      .edit, .done {
        top: -40px;
        right: 0;
        position: absolute;
      }
      &.display-name {
        font-size: 2rem;
        margin-top: 10px;
        font-family: $headerFont;
        line-height: 2rem;
        position: relative;
        background-color: $darkgreen;
        color: #fff;
        text-align: center; 
        .edit {
          top: 0;
          right: 30px;
        }
      }
      > div:not(.quill) {
        padding: 10px 40px;
      }
    }
  
    .content {
      border-radius: 4px;
      .field {
        position: relative;
        text-align: center;
        padding: 0 30px;
        h1 {
          font-size: 2rem;
          color: $darkgreen;
        }
        img {
          position: absolute;
          right: 0;
          top: 0;
        }
    }
      .container {
        margin: 20px 0;
      }
    }
  }
  .main-content {
    color: $darkgreen;
    position: relative;
    // grid-column: span 2;
    position: relative;
    .content {
      > div { 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  
      .field {
        img {
          width: 25px;
          height: auto;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      h4 {
        p {
          margin: 0;
          display: inline;
          padding: 0;
        }
      }
      }
      .title {
        padding-top: 20px;
        text-align: center;
        // background-color:$lightGreen;
      }
    } 
  }
    .quill {
      color: $darkgreen;
    }
   }
  }

  #classes, #profile, #clazz, #launchpad {
  .main {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    img:not(.edit) {
      width: 274px;
      height: 226px;
    }
   }
  }

  #launchpad, #classes {
    .main {
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;
      padding: 2rem;
      align-content: start;
    }
  }

  #untutorial {
    .main {
      margin-top: 20px;
  
      .container {
        max-width: 400px;
        position: relative;
        margin: 10px auto;
      h2 {
        font-size: 3rem;
      }
        .field {
          position: relative;
      
        img {
          position: absolute;
          top: 0;
          right: -30px;
          cursor: pointer;
        }
        .workOnProject {
          grid-row-start: 2;
        }
      
      }
      
    }
    }
  }

  #signin, #forget, #signup, #signIn {
    background:url('/images/bg2.png') no-repeat;
    background-size: cover;
    background-position: 10% 20%;
    #rocket {
      top: -40px;
      z-index:0;
    }
  }

  #signup {
    labels {
      display: flex;
      flex-flow: row wrap;    
    }
  } 

  #rocket {
    background:url('/images/roket.png') no-repeat;
    position: absolute;
    z-index:99;
    width: 100px;
    height: 190px;
    background-size: contain;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .edit {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 999;
  }

  #new-project { 
    .sidebar { 
      .container {
      > div {
        h4 {
          position: relative;
        }
        position: relative;
        margin-bottom: 40px;
      }

    }
    }
    .content {
      h1 {
        font-size: 3rem;
        position: relative;
        display: inline;
        button {
          position: absolute;
          right: 0;
          top: 0;
          width: 55px;
          height: 25px;
          right: -80px;
        }
      }
    .step {
      position: relative;
      max-width: 600px;
      height: 100px;
      color: $darkgreen;
      padding: 10px;
      border-radius: 4px;
      margin: 20px auto 60px;
      min-height: 200px;
      background-color: $lightGreen;
      .desc {
        position:absolute;
        top: 35%;
        left: 0;
        right: 0;
      }
      .field {
        height:100%;
        background-color: #fff;
        border-radius: 4px;
        overflow: auto;
        .step-text {
          margin-right: 90px;
        }
        .done {
          position: absolute;
          bottom: -50px;
          left: 0;
          font-size: 16px;
          right: 0;
          width: auto;
          background-color: $lightGreen;
          color: $darkgreen !important;
          font-weight: bold;
        }
      }
      .gear {
        position: absolute;
        top:20px;
        right: 30px;
        cursor: pointer;
        z-index:999;
      }
      .dropdown {
        position: absolute;
        right: 0;
        width: 80px;
        background-color: $lightGreen;
        right: 0;
        padding-right: 30px;
        height: 100%;
        top: 0;
        font-size: 16px;
        cursor: pointer;
        .edit {
          position: absolute;
          top: 60px;
          right: 30px;
          text-align: right;

        }
        .add {
          position: absolute;
          top: 90px;
          right: 30px;
          text-align: right;
        }
        .del {
          position: absolute;
          right: 0px;
          top: 120px;
          right: 30px;
          text-align: right;

        } 
      }
    }
 
   }
  }  

  #launchpad {
    .main {
      align-content: start;
    }
    .filter {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    .filter-categories {
      text-align: center;
      a {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
      }
    }
    .container {
      width: 50%;
      position: relative;
      margin: 0 auto;
  .field {
  
  .edit {
    position: absolute;
    right: 0;
    top: 0;
    }
  }
  }
}

  #profile {
   a {
      color: $darkgreen;
    }
    
    .sidebar {
    > div {
      margin-bottom: 20px;
      cursor: pointer;

    }
    .selected {
      h3 {
        border-bottom: 5px solid $lightGreen;
        display: inline-block;
      }
    }
  }
    .tab-labels {
      text-align: center;
      list-style: none;
      padding: 0;
      line-height: 35px;
      height: 37px;
      overflow: hidden;
      font-size: 12px;
      position: relative;
      div {
        border: 1px solid #AAA;
        background: #D1D1D1;
        background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
        display: inline-block;
        position:relative;
        z-index: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
        text-shadow: 0 1px #FFF;
        margin: 0 -5px;
        padding: 0 30px;
        &.selected {
          background: #FFF;
          color: #333;
          z-index: 2;
          border-top-color: #FFF;
          &:before {
            box-shadow: 2px 0px 0 #FFF;
          }
          &:after {
            box-shadow: -2px 0px 0 #FFF;
          }
        }
        &:before,&:after {
         border: 1px solid #AAA;
         position: absolute;
         top: -1px;
          width: 6px;
          height: 6px;
          content: "";
        }
        &:before {
          left: -7px;
          border-top-right-radius: 6px;
          border-width: 1px 1px 0px 0px;
          box-shadow: 2px 0px 0 #ECECEC;
        }
        &:after {
          right: -7px;
          border-top-left-radius: 6px;
          border-width: 1px 0px 0px 1px;
          box-shadow: -2px 0px 0 #ECECEC;
        }
      }        
      h3 {
        cursor: pointer;
      }
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        border-top: 1px solid #AAA;
        z-index: 1;
      }
    }
    .tabs {
      padding: 60px;
      .field {
        position: relative
      }
      .progress {
        h3 {
          background-color: $lightGreen;
          border: 3px solid #7ae2da;
          padding: 0 5px;
          margin-top: 20px;
          grid-column: span 3;
          cursor: pointer;
          position: relative;
          &:after {
            content: '^';
            position: absolute;
            right: 10px;
            top: 5px;
          }
          &.down {
            &:after {
            transform: rotate(180deg);
            top: 0;
          }
          }
        }
    }
    .profile {
      .avatar {   
        position: relative;
        text-align: center;
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        margin: 0 auto;
        padding: 20px;
        border-radius: 50%;
        img {
          width: 100px;
          height: 100px;
          left: 0;
          right: 0;
          margin: 0 auto;
          object-fit: contain;
          position: absolute;
          
        }
        input[type="file"] {
         display: none;
        }
        .upload {
          display: inline-block;
          cursor: pointer;
          width: 100px;
          height: 100px;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          padding: 5px;
          &:after {
            content: "Edit";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            color: #fff;
          }
        }
    
      }
      > div {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
      }
      h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 2rem;
      }
    //  .avatar {
    //   border: 2px solid red;
    //   position: relative;
    //   img {
    //     width: 100px;
    //     height: 100px;
    //     object-fit: contain;
    //   }
    //  }
      > div {
        margin-bottom: 20px;
        word-wrap: break-word;  
      }
    }  
    .email {
        h1,h2,h3,h4,h5,h6,button,ul,li {
          color: initial;
          font-size: initial;
          text-shadow: initial;
        }
        word-wrap: break-word;
      }
      .status {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
      h4 {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
        &.yellow {
          background-color:$orange;
          background: radial-gradient(circle, $orange,$darkerOrange);
        }
        &.green {
          background-color:rgb(80, 221, 15);
          background:radial-gradient(circle, rgb(6, 177, 83),rgb(3, 107, 50));
        }
        &.red {
          background-color:rgb(247, 48, 48);
          background:radial-gradient(circle, rgb(236, 99, 99), rgb(247, 48, 48),);
        }
      }
    }
     .tab-content {
        > div {
          background-color: #fff9e4;
          border-bottom: 1px solid #fbf0cd; 
          padding: 10px;
        }
     }
    }
  }


 
